.body{

    width: 100%;
    height: 100%;
    position: absolute;
}
.banner{
  position: absolute;
   background: rgb(20,12,92);
  background: linear-gradient(309deg, rgba(20,12,92,1) 0%, rgba(15,69,163,1) 45%, rgba(127,11,157,1) 100%);
  width: 100%;
  height: 150px;
  z-index: -1;
}
.all-tasks{
  
  width: 80%;
  margin: 0 auto;
  color: whitesmoke;
  font-family: 'Nunito', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}
h1{
  margin: 0;
}

.tasks{
  width: 60%;
}
.task-input{
  margin-top: 30px;
  background-color: #202020;
  padding:  20px 10px 20px 15px;
  border-radius: 10px;
  margin-bottom: 40px;
  
}
.task-input button{
  cursor: pointer;
  color: white;
  padding: 5px 10px;
  border-radius: 100%;
  background: none;
  margin-right: 20px;
  text-align: center;
  border: 1.8px solid whitesmoke;
}

.task-input input:focus{
  outline: none;
}

.task-input input{
   width: 80%;
   background: none;
   border: none;
   font-size: 1.7rem;
   text-align: left;
   color: white;
 
}
.task-unique-content{
  display: flex;
  align-items: center;
}

.task-unique{
  color: #a5a5a5;
  background-color: #202020;
  padding:  20px 10px 20px 15px;
  /* border-radius: 10px; */
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #353535;
  border-radius: 10px;
}

.completedTask{
  opacity: 0.5;

}
.completed{
  height: 23px;
  width: 10px;
  cursor: pointer;
  color: white;
  padding: 5px 10px;
  border-radius: 1000px;
  background: none;
  margin-right: 25px;
  text-align: center;
  border: 1.8px solid whitesmoke;
}
.true{
  background-color: greenyellow;
  border: 1.8px solid greenyellow;
}

.task-unique p{
  font-size: 1.8rem;
  margin: 0;
}

.dell{
  border: none;
  background: none;
  color: #dfdfdf;
  padding: 10px;
  cursor: pointer;
}

.container-btn{
  display: flex;
  align-items: center;
}


.log-off{
  position: absolute;
  width: 100%;
  text-align: right;
}

.log-off button{
  cursor: pointer;
  color: white;
  padding: 8px 14px;
  border-radius: 10px;
  background: none;
  margin-right: 20px;
  text-align: center;
  border: 1.8px solid whitesmoke;
  margin: 15px;
}

input,button{
  animation: none !important;
}


@media (max-width: 640px){
  .task-input{
    display: flex;
    font-size: 1rem
  }
  .task-input input{
    font-size: 1.4rem;
  }

  .task-unique p{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    margin: 0;
  }

  .all-tasks{
    width: 95%;
    margin: 0 auto;
  }

  .tasks{
    width: 85%;
  
  }
}