@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800;900&display=swap');

.container{
  display: flex;
  color: white;
  height: 100vh;
}

.sing-in{
  font-family: 'Nunito', sans-serif;
  background: rgb(20,12,92);
  background: linear-gradient(336deg, rgba(20,12,92,1) 0%, rgba(15,69,163,1) 45%, rgba(127,11,157,1) 100%);
  flex: 1 8 45%;
;
}
aside{
  display: flex;
     justify-content: center;
  align-items: center;
  flex-direction: column;
   height: 95%
}

aside h2{
  font-size: 3rem;
  margin: 0;
}

aside p{
  margin: 2px 0 10px 0;
  font-size: 1.2rem;
}
.sing-up{
  flex: 1 6 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   font-family: 'Nunito', sans-serif;
 
}

.sing-up label, input{
  
  font-weight: 600;
}

.sing-up label{
  font-size: 1.8rem;
  letter-spacing: 1.2px;
  margin-bottom: 5px;
}

.sing-up input{
 background: none;
 border: 1.6px solid white;
 padding: 10px 26px 10px 20px;
 border-radius: 20px;
 font-size: 1.8rem;
 margin-bottom: 15px;
 color: white;
 
}
aside button{
  background: none;
  border: 1.6px solid white;
  padding: 5px 35px;
  border-radius: 20px;
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}
.sing-up button{
  background: none;
  border: 1.6px solid white;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
 }

 h1{
  font-size: 3rem;
 }

